openapi: 3.0.3
info:
  title: "Canary Protocol \u2014 Canonical Retail Substrate"
  version: 0.1.0
  description: "Developer-facing OpenAPI 3.0 contract for the Canary Protocol canonical retail data model. Auto-generated\
    \ from `docs/sdds/go-handoff/canonical-data-model.md` \u2014 do not hand-edit. Patent context: Application 63/991,596\
    \ (Universal Event Notarization). This OpenAPI surface is the developer-facing layer. The MCP-native agent surface lives\
    \ at the `mcp__canary-protocol__*` tools (see GRO-741). The patent-architecture endpoints under `Protocol-Patent` are\
    \ reserved here and built in their own dispatches."
  contact:
    name: GrowDirect, LLC
  license:
    name: "Proprietary \u2014 Patent Pending"
    url: https://growdirect.io
servers:
- url: https://api.canary.growdirect.io
  description: Production
- url: https://api.canary-staging.growdirect.io
  description: Staging
tags:
- name: M-Merchandising
  description: 'Master merchandising data: items, vendors, categories'
- name: A-Location
  description: Stores, warehouses, location hierarchy
- name: S-Space
  description: Planograms, shelf positions
- name: C-Customer
  description: Customer master, addresses, loyalty
- name: L-Labor
  description: Employees, roles, location assignments
- name: D-Inventory
  description: Inventory positions, movements, documents, lots
- name: O-Orders
  description: Purchase orders, sales orders, fulfillment, allocations
- name: P-Pricing
  description: Item prices, promotions, taxes
- name: F-Finance
  description: Tender types, GL accounts, supplier invoices, payments
- name: T-Transactions
  description: POSLog transactions, line items, tenders, drawer events
- name: Q-Loss-Prevention
  description: Detection rules, detections, cases, evidence, subjects
- name: Ledger-Cost-to-Serve
  description: Stock ledger, ILDWAC positions, RIB batches, blockchain anchors
- name: Cross-Cutting-Platform
  description: Tenants, users, audit log, external identities
- name: Protocol-Patent
  description: Patent-architecture endpoints (Application 63/991,596). Reserved here; built in dedicated dispatches GRO-746
    / 748 / 750 / 751 / 752.
paths:
  /v1/m/items:
    get:
      tags:
      - M-Merchandising
      summary: List m.items
      operationId: list_m_items
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_items_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - M-Merchandising
      summary: Create m.items
      operationId: create_m_items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_items_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_items'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/m/items/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - M-Merchandising
      summary: Get m.items by id
      operationId: get_m_items
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_items'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - M-Merchandising
      summary: Update m.items
      operationId: update_m_items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_items_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_items'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - M-Merchandising
      summary: Delete (or soft-delete) m.items
      operationId: delete_m_items
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/m/product_categories:
    get:
      tags:
      - M-Merchandising
      summary: List m.product_categories
      operationId: list_m_product_categories
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_product_categories_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - M-Merchandising
      summary: Create m.product_categories
      operationId: create_m_product_categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_product_categories_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_product_categories'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/m/product_categories/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - M-Merchandising
      summary: Get m.product_categories by id
      operationId: get_m_product_categories
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_product_categories'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - M-Merchandising
      summary: Update m.product_categories
      operationId: update_m_product_categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_product_categories_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_product_categories'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - M-Merchandising
      summary: Delete (or soft-delete) m.product_categories
      operationId: delete_m_product_categories
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/m/vendors:
    get:
      tags:
      - M-Merchandising
      summary: List m.vendors
      operationId: list_m_vendors
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_vendors_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - M-Merchandising
      summary: Create m.vendors
      operationId: create_m_vendors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_vendors_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_vendors'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/m/vendors/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - M-Merchandising
      summary: Get m.vendors by id
      operationId: get_m_vendors
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_vendors'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - M-Merchandising
      summary: Update m.vendors
      operationId: update_m_vendors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_vendors_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_vendors'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - M-Merchandising
      summary: Delete (or soft-delete) m.vendors
      operationId: delete_m_vendors
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/m/item_vendors:
    get:
      tags:
      - M-Merchandising
      summary: List m.item_vendors
      operationId: list_m_item_vendors
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_vendors_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - M-Merchandising
      summary: Create m.item_vendors
      operationId: create_m_item_vendors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_item_vendors_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_vendors'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/m/item_vendors/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - M-Merchandising
      summary: Get m.item_vendors by id
      operationId: get_m_item_vendors
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_vendors'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - M-Merchandising
      summary: Update m.item_vendors
      operationId: update_m_item_vendors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_item_vendors_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_vendors'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - M-Merchandising
      summary: Delete (or soft-delete) m.item_vendors
      operationId: delete_m_item_vendors
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/m/item_barcodes:
    get:
      tags:
      - M-Merchandising
      summary: List m.item_barcodes
      operationId: list_m_item_barcodes
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_barcodes_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - M-Merchandising
      summary: Create m.item_barcodes
      operationId: create_m_item_barcodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_item_barcodes_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_barcodes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/m/item_barcodes/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - M-Merchandising
      summary: Get m.item_barcodes by id
      operationId: get_m_item_barcodes
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_barcodes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - M-Merchandising
      summary: Update m.item_barcodes
      operationId: update_m_item_barcodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_item_barcodes_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_barcodes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - M-Merchandising
      summary: Delete (or soft-delete) m.item_barcodes
      operationId: delete_m_item_barcodes
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/m/item_packs:
    get:
      tags:
      - M-Merchandising
      summary: List m.item_packs
      operationId: list_m_item_packs
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_packs_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - M-Merchandising
      summary: Create m.item_packs
      operationId: create_m_item_packs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_item_packs_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_packs'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/m/item_packs/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - M-Merchandising
      summary: Get m.item_packs by id
      operationId: get_m_item_packs
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_packs'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - M-Merchandising
      summary: Update m.item_packs
      operationId: update_m_item_packs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/m_item_packs_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m_item_packs'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - M-Merchandising
      summary: Delete (or soft-delete) m.item_packs
      operationId: delete_m_item_packs
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/l/locations:
    get:
      tags:
      - A-Location
      summary: List l.locations
      operationId: list_l_locations
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_locations_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - A-Location
      summary: Create l.locations
      operationId: create_l_locations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/l_locations_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_locations'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/l/locations/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - A-Location
      summary: Get l.locations by id
      operationId: get_l_locations
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_locations'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - A-Location
      summary: Update l.locations
      operationId: update_l_locations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/l_locations_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_locations'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - A-Location
      summary: Delete (or soft-delete) l.locations
      operationId: delete_l_locations
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/l/location_hierarchy:
    get:
      tags:
      - A-Location
      summary: List l.location_hierarchy
      operationId: list_l_location_hierarchy
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_hierarchy_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - A-Location
      summary: Create l.location_hierarchy
      operationId: create_l_location_hierarchy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/l_location_hierarchy_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_hierarchy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/l/location_hierarchy/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - A-Location
      summary: Get l.location_hierarchy by id
      operationId: get_l_location_hierarchy
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_hierarchy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - A-Location
      summary: Update l.location_hierarchy
      operationId: update_l_location_hierarchy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/l_location_hierarchy_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_hierarchy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - A-Location
      summary: Delete (or soft-delete) l.location_hierarchy
      operationId: delete_l_location_hierarchy
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/l/location_zones:
    get:
      tags:
      - A-Location
      summary: List l.location_zones
      operationId: list_l_location_zones
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_zones_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - A-Location
      summary: Create l.location_zones
      operationId: create_l_location_zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/l_location_zones_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_zones'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/l/location_zones/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - A-Location
      summary: Get l.location_zones by id
      operationId: get_l_location_zones
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_zones'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - A-Location
      summary: Update l.location_zones
      operationId: update_l_location_zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/l_location_zones_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_zones'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - A-Location
      summary: Delete (or soft-delete) l.location_zones
      operationId: delete_l_location_zones
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/s/planograms:
    get:
      tags:
      - S-Space
      summary: List s.planograms
      operationId: list_s_planograms
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/s_planograms_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - S-Space
      summary: Create s.planograms
      operationId: create_s_planograms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/s_planograms_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/s_planograms'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/s/planograms/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - S-Space
      summary: Get s.planograms by id
      operationId: get_s_planograms
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/s_planograms'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - S-Space
      summary: Update s.planograms
      operationId: update_s_planograms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/s_planograms_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/s_planograms'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - S-Space
      summary: Delete (or soft-delete) s.planograms
      operationId: delete_s_planograms
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/s/planogram_positions:
    get:
      tags:
      - S-Space
      summary: List s.planogram_positions
      operationId: list_s_planogram_positions
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/s_planogram_positions_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - S-Space
      summary: Create s.planogram_positions
      operationId: create_s_planogram_positions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/s_planogram_positions_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/s_planogram_positions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/s/planogram_positions/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - S-Space
      summary: Get s.planogram_positions by id
      operationId: get_s_planogram_positions
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/s_planogram_positions'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - S-Space
      summary: Update s.planogram_positions
      operationId: update_s_planogram_positions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/s_planogram_positions_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/s_planogram_positions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - S-Space
      summary: Delete (or soft-delete) s.planogram_positions
      operationId: delete_s_planogram_positions
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/l/location_assortment:
    get:
      tags:
      - A-Location
      summary: List l.location_assortment
      operationId: list_l_location_assortment
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_assortment_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - A-Location
      summary: Create l.location_assortment
      operationId: create_l_location_assortment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/l_location_assortment_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_assortment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/l/location_assortment/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - A-Location
      summary: Get l.location_assortment by id
      operationId: get_l_location_assortment
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_assortment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - A-Location
      summary: Update l.location_assortment
      operationId: update_l_location_assortment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/l_location_assortment_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l_location_assortment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - A-Location
      summary: Delete (or soft-delete) l.location_assortment
      operationId: delete_l_location_assortment
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/c/customers:
    get:
      tags:
      - C-Customer
      summary: List c.customers
      operationId: list_c_customers
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_customers_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - C-Customer
      summary: Create c.customers
      operationId: create_c_customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/c_customers_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_customers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/c/customers/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - C-Customer
      summary: Get c.customers by id
      operationId: get_c_customers
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_customers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - C-Customer
      summary: Update c.customers
      operationId: update_c_customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/c_customers_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_customers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - C-Customer
      summary: Delete (or soft-delete) c.customers
      operationId: delete_c_customers
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/c/customer_addresses:
    get:
      tags:
      - C-Customer
      summary: List c.customer_addresses
      operationId: list_c_customer_addresses
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_customer_addresses_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - C-Customer
      summary: Create c.customer_addresses
      operationId: create_c_customer_addresses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/c_customer_addresses_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_customer_addresses'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/c/customer_addresses/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - C-Customer
      summary: Get c.customer_addresses by id
      operationId: get_c_customer_addresses
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_customer_addresses'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - C-Customer
      summary: Update c.customer_addresses
      operationId: update_c_customer_addresses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/c_customer_addresses_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_customer_addresses'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - C-Customer
      summary: Delete (or soft-delete) c.customer_addresses
      operationId: delete_c_customer_addresses
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/c/loyalty_memberships:
    get:
      tags:
      - C-Customer
      summary: List c.loyalty_memberships
      operationId: list_c_loyalty_memberships
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_loyalty_memberships_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - C-Customer
      summary: Create c.loyalty_memberships
      operationId: create_c_loyalty_memberships
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/c_loyalty_memberships_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_loyalty_memberships'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/c/loyalty_memberships/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - C-Customer
      summary: Get c.loyalty_memberships by id
      operationId: get_c_loyalty_memberships
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_loyalty_memberships'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - C-Customer
      summary: Update c.loyalty_memberships
      operationId: update_c_loyalty_memberships
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/c_loyalty_memberships_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c_loyalty_memberships'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - C-Customer
      summary: Delete (or soft-delete) c.loyalty_memberships
      operationId: delete_c_loyalty_memberships
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/e/employees:
    get:
      tags:
      - L-Labor
      summary: List e.employees
      operationId: list_e_employees
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employees_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - L-Labor
      summary: Create e.employees
      operationId: create_e_employees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e_employees_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employees'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/e/employees/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - L-Labor
      summary: Get e.employees by id
      operationId: get_e_employees
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employees'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - L-Labor
      summary: Update e.employees
      operationId: update_e_employees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e_employees_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employees'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - L-Labor
      summary: Delete (or soft-delete) e.employees
      operationId: delete_e_employees
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/e/employee_role_assignments:
    get:
      tags:
      - L-Labor
      summary: List e.employee_role_assignments
      operationId: list_e_employee_role_assignments
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employee_role_assignments_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - L-Labor
      summary: Create e.employee_role_assignments
      operationId: create_e_employee_role_assignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e_employee_role_assignments_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employee_role_assignments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/e/employee_role_assignments/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - L-Labor
      summary: Get e.employee_role_assignments by id
      operationId: get_e_employee_role_assignments
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employee_role_assignments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - L-Labor
      summary: Update e.employee_role_assignments
      operationId: update_e_employee_role_assignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e_employee_role_assignments_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employee_role_assignments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - L-Labor
      summary: Delete (or soft-delete) e.employee_role_assignments
      operationId: delete_e_employee_role_assignments
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/e/employee_location_assignments:
    get:
      tags:
      - L-Labor
      summary: List e.employee_location_assignments
      operationId: list_e_employee_location_assignments
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employee_location_assignments_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - L-Labor
      summary: Create e.employee_location_assignments
      operationId: create_e_employee_location_assignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e_employee_location_assignments_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employee_location_assignments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/e/employee_location_assignments/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - L-Labor
      summary: Get e.employee_location_assignments by id
      operationId: get_e_employee_location_assignments
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employee_location_assignments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - L-Labor
      summary: Update e.employee_location_assignments
      operationId: update_e_employee_location_assignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e_employee_location_assignments_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e_employee_location_assignments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - L-Labor
      summary: Delete (or soft-delete) e.employee_location_assignments
      operationId: delete_e_employee_location_assignments
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/i/inventory_positions:
    get:
      tags:
      - D-Inventory
      summary: List i.inventory_positions
      operationId: list_i_inventory_positions
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_positions_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - D-Inventory
      summary: Create i.inventory_positions
      operationId: create_i_inventory_positions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/i_inventory_positions_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_positions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/i/inventory_positions/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - D-Inventory
      summary: Get i.inventory_positions by id
      operationId: get_i_inventory_positions
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_positions'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - D-Inventory
      summary: Update i.inventory_positions
      operationId: update_i_inventory_positions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/i_inventory_positions_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_positions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - D-Inventory
      summary: Delete (or soft-delete) i.inventory_positions
      operationId: delete_i_inventory_positions
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/i/inventory_movements:
    get:
      tags:
      - D-Inventory
      summary: List i.inventory_movements
      operationId: list_i_inventory_movements
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_movements_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - D-Inventory
      summary: Create i.inventory_movements
      operationId: create_i_inventory_movements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/i_inventory_movements_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_movements'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/i/inventory_movements/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - D-Inventory
      summary: Get i.inventory_movements by id
      operationId: get_i_inventory_movements
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_movements'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - D-Inventory
      summary: Update i.inventory_movements
      operationId: update_i_inventory_movements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/i_inventory_movements_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_movements'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - D-Inventory
      summary: Delete (or soft-delete) i.inventory_movements
      operationId: delete_i_inventory_movements
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/i/inventory_documents:
    get:
      tags:
      - D-Inventory
      summary: List i.inventory_documents
      operationId: list_i_inventory_documents
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_documents_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - D-Inventory
      summary: Create i.inventory_documents
      operationId: create_i_inventory_documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/i_inventory_documents_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_documents'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/i/inventory_documents/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - D-Inventory
      summary: Get i.inventory_documents by id
      operationId: get_i_inventory_documents
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_documents'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - D-Inventory
      summary: Update i.inventory_documents
      operationId: update_i_inventory_documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/i_inventory_documents_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_documents'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - D-Inventory
      summary: Delete (or soft-delete) i.inventory_documents
      operationId: delete_i_inventory_documents
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/i/inventory_document_lines:
    get:
      tags:
      - D-Inventory
      summary: List i.inventory_document_lines
      operationId: list_i_inventory_document_lines
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_document_lines_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - D-Inventory
      summary: Create i.inventory_document_lines
      operationId: create_i_inventory_document_lines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/i_inventory_document_lines_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_document_lines'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/i/inventory_document_lines/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - D-Inventory
      summary: Get i.inventory_document_lines by id
      operationId: get_i_inventory_document_lines
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_document_lines'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - D-Inventory
      summary: Update i.inventory_document_lines
      operationId: update_i_inventory_document_lines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/i_inventory_document_lines_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_document_lines'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - D-Inventory
      summary: Delete (or soft-delete) i.inventory_document_lines
      operationId: delete_i_inventory_document_lines
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/i/inventory_lots:
    get:
      tags:
      - D-Inventory
      summary: List i.inventory_lots
      operationId: list_i_inventory_lots
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_lots_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - D-Inventory
      summary: Create i.inventory_lots
      operationId: create_i_inventory_lots
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/i_inventory_lots_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_lots'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/i/inventory_lots/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - D-Inventory
      summary: Get i.inventory_lots by id
      operationId: get_i_inventory_lots
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_lots'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - D-Inventory
      summary: Update i.inventory_lots
      operationId: update_i_inventory_lots
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/i_inventory_lots_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/i_inventory_lots'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - D-Inventory
      summary: Delete (or soft-delete) i.inventory_lots
      operationId: delete_i_inventory_lots
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/o/purchase_orders:
    get:
      tags:
      - O-Orders
      summary: List o.purchase_orders
      operationId: list_o_purchase_orders
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_purchase_orders_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - O-Orders
      summary: Create o.purchase_orders
      operationId: create_o_purchase_orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_purchase_orders_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_purchase_orders'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/o/purchase_orders/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - O-Orders
      summary: Get o.purchase_orders by id
      operationId: get_o_purchase_orders
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_purchase_orders'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - O-Orders
      summary: Update o.purchase_orders
      operationId: update_o_purchase_orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_purchase_orders_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_purchase_orders'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - O-Orders
      summary: Delete (or soft-delete) o.purchase_orders
      operationId: delete_o_purchase_orders
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/o/purchase_order_lines:
    get:
      tags:
      - O-Orders
      summary: List o.purchase_order_lines
      operationId: list_o_purchase_order_lines
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_purchase_order_lines_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - O-Orders
      summary: Create o.purchase_order_lines
      operationId: create_o_purchase_order_lines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_purchase_order_lines_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_purchase_order_lines'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/o/purchase_order_lines/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - O-Orders
      summary: Get o.purchase_order_lines by id
      operationId: get_o_purchase_order_lines
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_purchase_order_lines'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - O-Orders
      summary: Update o.purchase_order_lines
      operationId: update_o_purchase_order_lines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_purchase_order_lines_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_purchase_order_lines'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - O-Orders
      summary: Delete (or soft-delete) o.purchase_order_lines
      operationId: delete_o_purchase_order_lines
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/o/sales_orders:
    get:
      tags:
      - O-Orders
      summary: List o.sales_orders
      operationId: list_o_sales_orders
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_sales_orders_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - O-Orders
      summary: Create o.sales_orders
      operationId: create_o_sales_orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_sales_orders_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_sales_orders'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/o/sales_orders/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - O-Orders
      summary: Get o.sales_orders by id
      operationId: get_o_sales_orders
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_sales_orders'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - O-Orders
      summary: Update o.sales_orders
      operationId: update_o_sales_orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_sales_orders_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_sales_orders'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - O-Orders
      summary: Delete (or soft-delete) o.sales_orders
      operationId: delete_o_sales_orders
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/o/sales_order_lines:
    get:
      tags:
      - O-Orders
      summary: List o.sales_order_lines
      operationId: list_o_sales_order_lines
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_sales_order_lines_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - O-Orders
      summary: Create o.sales_order_lines
      operationId: create_o_sales_order_lines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_sales_order_lines_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_sales_order_lines'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/o/sales_order_lines/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - O-Orders
      summary: Get o.sales_order_lines by id
      operationId: get_o_sales_order_lines
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_sales_order_lines'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - O-Orders
      summary: Update o.sales_order_lines
      operationId: update_o_sales_order_lines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_sales_order_lines_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_sales_order_lines'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - O-Orders
      summary: Delete (or soft-delete) o.sales_order_lines
      operationId: delete_o_sales_order_lines
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/o/fulfillments:
    get:
      tags:
      - O-Orders
      summary: List o.fulfillments
      operationId: list_o_fulfillments
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_fulfillments_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - O-Orders
      summary: Create o.fulfillments
      operationId: create_o_fulfillments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_fulfillments_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_fulfillments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/o/fulfillments/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - O-Orders
      summary: Get o.fulfillments by id
      operationId: get_o_fulfillments
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_fulfillments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - O-Orders
      summary: Update o.fulfillments
      operationId: update_o_fulfillments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_fulfillments_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_fulfillments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - O-Orders
      summary: Delete (or soft-delete) o.fulfillments
      operationId: delete_o_fulfillments
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/o/fulfillment_lines:
    get:
      tags:
      - O-Orders
      summary: List o.fulfillment_lines
      operationId: list_o_fulfillment_lines
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_fulfillment_lines_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - O-Orders
      summary: Create o.fulfillment_lines
      operationId: create_o_fulfillment_lines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_fulfillment_lines_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_fulfillment_lines'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/o/fulfillment_lines/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - O-Orders
      summary: Get o.fulfillment_lines by id
      operationId: get_o_fulfillment_lines
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_fulfillment_lines'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - O-Orders
      summary: Update o.fulfillment_lines
      operationId: update_o_fulfillment_lines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_fulfillment_lines_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_fulfillment_lines'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - O-Orders
      summary: Delete (or soft-delete) o.fulfillment_lines
      operationId: delete_o_fulfillment_lines
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/o/allocations:
    get:
      tags:
      - O-Orders
      summary: List o.allocations
      operationId: list_o_allocations
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_allocations_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - O-Orders
      summary: Create o.allocations
      operationId: create_o_allocations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_allocations_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_allocations'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/o/allocations/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - O-Orders
      summary: Get o.allocations by id
      operationId: get_o_allocations
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_allocations'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - O-Orders
      summary: Update o.allocations
      operationId: update_o_allocations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_allocations_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_allocations'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - O-Orders
      summary: Delete (or soft-delete) o.allocations
      operationId: delete_o_allocations
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/o/shipping_documents:
    get:
      tags:
      - O-Orders
      summary: List o.shipping_documents
      operationId: list_o_shipping_documents
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_shipping_documents_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - O-Orders
      summary: Create o.shipping_documents
      operationId: create_o_shipping_documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_shipping_documents_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_shipping_documents'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/o/shipping_documents/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - O-Orders
      summary: Get o.shipping_documents by id
      operationId: get_o_shipping_documents
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_shipping_documents'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - O-Orders
      summary: Update o.shipping_documents
      operationId: update_o_shipping_documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/o_shipping_documents_Update'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/o_shipping_documents'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - O-Orders
      summary: Delete (or soft-delete) o.shipping_documents
      operationId: delete_o_shipping_documents
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/p/item_prices:
    get:
      tags:
      - P-Pricing
      summary: List p.item_prices
      operationId: list_p_item_prices
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/p_item_prices_Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - P-Pricing
      summary: Create p.item_prices
      operationId: create_p_item_prices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/p_item_prices_Create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/p_item_prices'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/p/item_prices/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      tags:
      - P-Pricing
      summary: Get p.item_prices by id
      operationId: get_p_item_prices
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/p_item_prices'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - P-Pricing
      summary: Update p.item_prices
      operationId: update_p_item_prices
      requestBody:
[...]
